<h1>Sign Up Confirmation</h1>
<h3>Are you sure these values are correct?</h3>
<br><br>
<p>Email:<%= @user.email %></p>
<p>Name:<%= @user.name %></p>
<div class="row">
    <div class="col-md-4", style="width: auto;">
        <%= button_to "Yes", {controller: "users", action: "create", params: params}, class: 'btn btn-success' %>
        <%= button_to "No", {controller: "users", action: "new"}, class: 'btn btn-default'  %>
    </div>
</div>