// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
    width: 80px;
    height: 40px;
    background: #4267b2;
    border: 2px solid #4267b2;
    color: #ffffff;
    padding: 6px;
    text-align: center;
    position: relative;
    float:left;
}